{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Lucas Montesinos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{% static 'css/personal.css' %}">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">
      Lucas Montesinos
    </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse ">
      <ul class="nav navbar-nav">
        <li>
             <a href="/">Home</a>
        </li>

        <li>
          <a href="map/">Map</a>
        </li>
        <li>
             <a style="background-color:white;color:#47A089">Experience and Coding</a>
        </li>
        <li>
          <a href="#footer_">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
  </nav>


  <div id="education" class="uni">
    <div class="tab uni">
    <ul class="nav nav-stacked">
      <li class="contac">
        <h2 class="menu_ed">Overview</h2>
        <button class="tablinks dropbtn" onclick="openCity3(event, 'U_intro')">
          <img class="im_uni" src="{% static 'images/typewrite.png' %}"></i>
      </button>
    </li>
      <li>
        <h2 class="menu_ed">Universities</h2>
          <div class=" dropdown">
          <button class="tablinks dropdown-toggle dropbtn" data-toggle="dropdown" onclick="openCity(event, 'TU_exp')">
          <img class="im_uni" src="{% static 'images/tud.png' %}"><i class="fa fa-chevron-circle-right flecha"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#education" class="tablinks" onclick="openCity2(event, 'TU_exp')">Experience</a></li>
            <li><a href="#education" class="tablinks" onclick="openCity2(event, 'TU_courses')">Courses</a></li>
            <li><a href="#education" class="tablinks" onclick="openCity2(event, 'TU_thesis')">Thesis</a></li>
          </ul>
        </div>
      </li>
      <div class="dropdown">
        <li>
        <button class="tablinks dropbtn dropdown-toggle" data-toggle="dropdown" onclick="openCity(event, 'Ch_exp')">
          <img class="im_uni" src="{% static 'images/fcfm1.png' %}"><i class="fa fa-chevron-circle-right  flecha"></i>
        </button>
        <ul class=" dropdown-menu">
          <li><a href="#education" class="tablinks" onclick="openCity2(event, 'Ch_exp')">Experience</a></li>
          <li><a href="#education" class="tablinks" onclick="openCity2(event, 'Ch_thesis')">Thesis and publication</a></li>
        </ul>
      </li>
      </div>
      <li class="contac">
        <h2 class="menu_ed">Work</h2>
        <button class="tablinks dropbtn"  onclick="openCity3(event, 'Contac')">
          <img class="im_uni" src="{% static 'images/contac1.png' %}"></i>
        </button>
      </li>
      <li class="contac">
        <h2 class="menu_ed">Coding</h2>
        <button class="tablinks dropbtn" onclick="openCity3(event, 'Coding')">
          <img class="im_uni" src="{% static 'images/code_1.png' %}"></i>
      </button>
  </li>
    </ul>
  </div>
    <div id="Ch_exp" class="tabcontent beauchef1">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <h3>BSc. Electrical Engineering</h3>
      <h3>2008-2014</h3>
      <p>Electrical Engenieer.</p>
    </div>
    </div>
    <div id="Ch_thesis" class="tabcontent beauchef1">
      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <h3>Sentiment Analysis in Twitter</h3>
      <h3>2014</h3>
    </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <ul class="text_edu">
          <li>Sentiment analysis is a mechanism for understanding the natural disposition that people possess towards a specific topic.</li>
          <li>Twitter was used as main platform which is popular in Chile, with more than <b>5 million users</b> in 2012.</li>
          <li>The main goal was to analyse the public's opinions on the presidential primaries for the Alliance political party between two candidates and use sentiment analysis to <b>predict the outcome of the primaries</b>.</li>
          <li>The methodology was based on a <b>Lexicon Dictionary</b>, using information collected during the previous months of the election and classifying each tweet as positive, negative or neutral for each candidate.</li>
          <li>An exponential function was developed to extract the polarity for each candidate when both are mentioned in the tweet.</li>
        </ul>
          <i><img class="im_sent" src="{% static 'images/sent_meth2.png' %}"></i>
        </div>
        <div class="col-sm-4">
          <ul class="text_edu">

              The full thesis can be found here (in Spanish):
  </ul>
  <a href="http://repositorio.uchile.cl/handle/2250/130479"> <ul class="text_edu link1">Thesis U Chile</ul></a>
  <ul class="text_edu">
              And the paper from L.  Montesinos,  J.P  Rodriguez,  M.  Orchard  ,  S.  Eyheramendy  ,  “Sentiment  analysis  and
  prediction  of  events  in  TWITTER” can be found here:
          </ul>
          <a href="http://ieeexplore.ieee.org/document/7404680/"> <ul class="text_edu link1">IEEE Chilecon 2015</ul></a>
        </div>
    </div>
  </div>
    <div id="TU_exp" class="tabcontent delft1">
      <h3>2016-2018 </h3>
      <h3> TU Delft </h3>
      <h5>MSc. Electrical Engineering </h5>
    </div>
    <div id="TU_courses" class="tabcontent delft1">
      <h3>2016-2018 </h3>
      <h3> TU Delft </h3>
      <h5>MSc. Electrical Engineering </h5>
      <p style="text-decoration:underline">Advanced Courses:</p>
        <div class="courses">
        <li><a>Statistical Digital Signal Processing and Modeling</a></li>
        <li><a>Digital Audio and Speech Processing</a></li>
        <li><a>Machine Learning</a></li>
        <li><a>Wavefield Imaging</a></li>
        </div>
    </div>
    <div id="TU_thesis" class="tabcontent over1 delft1">
      <h3>2016-2018 </h3>
      <h3> TU Delft </h3>
      <h5>MSc. Electrical Engineering </h5>
    </div>
    <div id="Contac" class="tabcontent over1 con1">
      <h3>Contac Ingenieros</h3>
      <ul>
        <h3>2014-2016 </h3>
        <h3> Contac Ingenieros Ltda.</h3>
        <p style="text-decoration:underline">Pattern recognition and failure prognosis using PCA:</p>
        <img  width="20%" src="{% static 'images/PCA.gif' %}">
        <p style="text-decoration:underline;margin-top:30px;">Virtual sensors for critical KPI:</p>
        <img  width="20%" src="{% static 'images/p80a.jpg' %}">
      </ul>
    </div>
    <div id="Coding" class="tabcontent over1">
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <h3>Code Languages</h3>
        <div style="display:inline-block;width:100%;">
        <ul >
          <li>
         <h1>MATLAB</h1>
            <div class="w3-grey bar1">
              <div class="w3-black bar2" style="width:90%"></div>
            </div>
          </li>
          <li>
            <h1>Python</h1>
            <div class="w3-grey bar1">
              <div class="w3-black bar2" style="width:20%"></div>
            </div>
          </li>
          <li>
              <h1>C#</h1>
            <div class="w3-grey bar1">
              <div class="w3-black bar2" style="width:30%"></div>
            </div>
          </li>
          <li>
              <h1>.NET</h1>
            <div class="w3-grey bar1">
              <div class="w3-black bar2" style="width:70%"></div>
            </div>
          </li>
          <li>
              <h1>Perl</h1>
            <div class="w3-grey bar1">
              <div class="w3-black bar2" style="width:50%"></div>
            </div>
          </li>
          <li>
              <h1>PHP</h1>
            <div class="w3-grey bar1">
              <div class="w3-black bar2" style="width:30%"></div>
            </div>
            <li>
      </ul>
    </div>
      </div>
      <h3 style="margin-left:5%;margin-top:2%">Knowledge on Android, R, Bootstrap, HTML, JavaScript, CSS. </h3>
    </div>
  </div>
    <div id="U_intro" class="tabcontent over1">
      <div class="row">
  				<div class="col-md-12">
  				<!--	<div class="page-header">
  					  <h1>Timeline Experience</h1>
  					</div> -->
            <h2 style="text-align:center">Timeline Experience</h2>
  					<div style="display:inline-block;width:100%;">
  					<ul class="timeline timeline-horizontal">
  						<li class="timeline-item">
  							<div class="timeline-badge primary"><i class="glyphicon glyphicon-education"></i></div>
  							<div class="timeline-panel">
  								<div class="timeline-heading">
  									<h4 class="timeline-title">Universidad de Chile. BSc. Electrical Eng.</h4>
  									<p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i>2008-2014</small></p>
  								</div>
  								<div class="timeline-body">
  									<p> Thesis and paper IEEE “Sentiment  analysis  and prediction  of  events  in  TWITTER”</p>
  								</div>
  							</div>
  						</li>
  						<li class="timeline-item">
  							<div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
  							<div class="timeline-panel">
  								<div class="timeline-heading">
  									<h4 class="timeline-title">Contac Ingenieros Limitada. Project engineer.</h4>
  									<p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2014-2016</small></p>
  								</div>
  								<div class="timeline-body">
  									<ul>
                      Pattern recognition and failure prognosis using PCA.
                    </ul>
                    <ul>
                      Virtual sensors with PLS.
                    </ul>
                    <ul>
                      Report automation .NET.
                    </ul>
  								</div>
  							</div>
  						</li>
  						<li class="timeline-item">
  							<div class="timeline-badge info"><i class="glyphicon glyphicon-education"></i></div>
  							<div class="timeline-panel">
  								<div class="timeline-heading">
  									<h4 class="timeline-title">TU Delft. Msc. Electrical Eng. Signals and Systems</h4>
  									<p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2016-present</small></p>
  								</div>
  								<div class="timeline-body">
  									<p>Signal processing in audio, medical imaging, wavefield imaging and machine learning techniques.</p>
  								</div>
  							</div>
  						</li>
  					</ul>
  				</div>
  				</div>
          <!--
          <h2 style="text-align:center;text-decoration:underline">Coding</h2>
          <ul>
            <div class="col-sm-6">
           <h2 style="margin-bottom:10px">MATLAB</h2>
           <p style="margin-bottom:20px">Most of universities projects and modeling part of work.</p>
           <h2 style="margin-bottom:10px">.NET</h2>
           <p style="margin-bottom:20px">"Contac" projects for compatibility.</p>
         </div>
         <div class="col-sm-6">
            <h2 style="margin-bottom:10px">Perl</h2>
            <p style="margin-bottom:20px">Thesis project, text analysis.</p>
            <p>Knowledge on Python, C#, PHP, Android, R, Bootstrap, HTML, JavaScript, CSS. </p>
            </ul>
            </div>
          -->
  			</div>

    </div>
  <a href="#" class="tablinks" onclick="openCity2(event, 'U_intro')" id="defaultOpen"> </a>
</div>
  <footer id="footer_" class="footer_">
    <div class="row">
    <div class="col-sm-7">
      <p class="writeme">You can fin me here: </p>
  <ul class="social2">
     <span class="fa-stack">
       <a href="https://www.facebook.com/lucas.montesinos.3">
       <i class="fa fa_custom fa-facebook fa-stack-1x "></i></a>
     </span>
     <span class="fa-stack ">
      <a href="https://www.linkedin.com/in/lucas-montesinos-18238ba0/">
       <i class="fa fa_custom fa-linkedin fa-stack-1x"></i></a>
     </span>
     <span class="fa-stack ">
         <a href="https://twitter.com/Sudak_">
       <i class="fa fa_custom fa-twitter fa-stack-1x "></i></a>
     </span>
     </ul>

  </div>
  <div class="col-sm-5">
    <ul class="social2">
      <p class="writeme">or just write me an email to: </p>
    <span class="fa-stack fa-lg">
        <a href="mailto:lmontesinos10@gmail.com">
      <i class="fa fa_custom_c fa-envelope fa-stack-1x " aria-hidden="true"></i></a>
    </span>
    lmontesinos10@gmail.com
  </ul>
  </div>
  </div>
  <a href="#" class="tablinks" onclick="openCity2(event, 'U_intro')" id="defaultOpen"> </a>
  </footer>





  <!--Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>


  $(function(){
         $('a').each(function(){
             if ($(this).prop('href') == window.location.href) {
                 $(this).addClass('active'); $(this).parents('li').addClass('active');
             }
         });
     });


  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>



  <script>
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      evt.currentTarget.className += " active";
  }
  function openCity2(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");

      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
  }

  function openCity3(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");

      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      evt.currentTarget.className += " active";
  }
  // Get the element with id="defaultOpen" and click on it

  document.getElementById("defaultOpen").click();





  </script>

</body>
</html>
