{% load staticfiles %}
<html>
    <head>
      <meta charset="utf-8">
      <title>Lucas Montesinos</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/personal.css' %}">
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
      	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      		<i class="fa fa-bars"></i>
      		</button>
          <a class="navbar-brand page-scroll" href="/">
      		Lucas Montesinos
        </a>
      	</div>

      	<div class="collapse navbar-collapse navbar-right navbar-main-collapse ">
      		<ul class="nav navbar-nav">
      			<li>
      			     <a style="background-color:white;color:#47A089" href="/">Home</a>
      			</li>
      			<li>
              <a href="#aboutme" >About</a>
            </li>
            <li>
              <a href="map/" >Map</a>
            </li>
            <li>
      			     <a href="exp/">Experience and Coding</a>
      			</li>
            <li>
              <a href="#footer_">Contact</a>
            </li>
      		</ul>
      	</div>
      	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
      </nav>
      <header id="index" class="intro">
        <div class="intro-body">
          <div class="container">
            <div class="row">
        			<div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">Hi, I'm Lucas</h1>
                <p> Electrical Engineer with experience in <b class="desta"> Signal Processing </b> and <b class="desta">
                  Machine Learning</b> techniques wherever is needed, from audio and speech recognition to wavefield and medical imaging.</p>
                  <a href="#aboutme">
                  <span class="bottom"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="aboutme" class="about">
        <div class = "row">
           <div class="col-sm-5">
              <img class="prof_im" src="static/images/termas.jpg" >
           </div>
           <div class="col-sm-7 bio">
             <h2> About me </h2>
             <p style="margin-top:-20px;"> I grew up in Santiago, Chile.
               I studied electrical engineer there and worked for 2 years after that in the mining industry working
               in pattern recognition techniques. Then I moved to Delft, where I live today to get my master degree.
               <p>
                 <p>I love traveling around the world. Passionate about photography, Big Data and new technologies.</p>
                 <p>
                   <a href="static/images/CV_Lucas_Montesinos.pdf" class="btn btn-info btn-lg wrapper" download>
                     <span class="glyphicon glyphicon-download-alt"></span>Download CV
                   </a>
                 </p>


           </div>
        </div>




      </div>

      <footer id="footer_" >
        <div class="footer_">
        <div class="row">
        <div class="col-sm-7">
          <p class="writeme">You can fin me here: </p>
      <ul class="social2">
         <span class="fa-stack">
           <a href="https://www.facebook.com/lucas.montesinos.3">
           <i class="fa fa_custom fa-facebook fa-stack-1x "></i></a>
         </span>
         <span class="fa-stack ">
          <a href="https://www.linkedin.com/in/lucas-montesinos-18238ba0/">
           <i class="fa fa_custom fa-linkedin fa-stack-1x"></i></a>
         </span>
         <span class="fa-stack ">
             <a href="https://twitter.com/Sudak_">
           <i class="fa fa_custom fa-twitter fa-stack-1x "></i></a>
         </span>
         </ul>

      </div>
      <div class="col-sm-5">
        <ul class="social2">
          <p class="writeme">or just write me an email to: </p>
        <span class="fa-stack fa-lg">
            <a href="mailto:lmontesinos10@gmail.com">
          <i class="fa fa_custom_c fa-envelope fa-stack-1x " aria-hidden="true"></i></a>
        </span>
        lmontesinos10@gmail.com
      </ul>
      </div>
      </div>
    </div>
      </footer>




<!--Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>


$(function(){
       $('a').each(function(){
           if ($(this).prop('href') == window.location.href) {
               $(this).addClass('active'); $(this).parents('li').addClass('active');
           }
       });
   });


$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>



<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    evt.currentTarget.className += " active";
}
function openCity2(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");

    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

function openCity3(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");

    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it

document.getElementById("defaultOpen").click();





</script>






    </body>
</html>
